

html{
    margin:0;
    border:0;
    height:100%;
}
body{
    
    margin:0;
    border:0;
}

.search-btn, .notification-btn, .profile-btn{
    background: none;
    border:none;
}

.search-icon, .bell-icon, .profile-icon{
    width: 25px;
    height: 25px;
}


.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr ;
    grid-template-rows: auto auto 1fr;
    min-height: 100vh;
}

.p-inline, .h1-inline{
    /* display:inline; */
}

.h1-inline{
    font-size: 24px;
    color: white;
    
} 

.upperSettings{
    display:flex;
    /* justify-content: flex-end; */

}



.header{
 grid-column: 2 / 4;
 display:flex;
 align-items:center;
 gap: 8px;
 margin-left: 20px;
 padding: 0 20px 0 0;
}

.header input[type="text"]{
    width:50%;
    margin-right: auto;
}

.header .notification-btn{
    /* margin-left: 20%; */
}

.header #searchbar{
    background-color: #EEEEEE;
    border-radius: 30px;
}

.navbar{
    grid-column: 2/4;
    grid-row:2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.profile-icon{
    border-radius: 50%;
}

.nav-greeting{
    display:flex;
    flex-direction: column;
    margin-right: auto;
    
}

.logo{
    display:flex;
    align-items: center;
    margin:10px;
    gap:5px;
}

.firstHalf, .secondHalf{
    margin-bottom: 50px;
}

ul li{
    font-size: 16px;
    color:white;
    font-family: Roberto;
    font-weight:500;
    list-style-type: none;
    display:flex;
    gap:8px;
    
    
    
}

ul li p{
    /* margin-bottom: 5px;
    justify-content: center; */
}

ul li img{
    width:10%;
    height:auto;
}

.svg-logo{
    fill:white;
    width: 10%;
    height: auto;
}


.nav-greeting p{
    margin:0px;
    font-weight:bold;
}



.nav-actions button{
    /* display:flex; */
    gap:5px;
    margin-left:5px;
    margin-right:5px;
    border-radius: 20px;
    background-color: #1992D4;
    border-color: #1992D4;
    color:white;
    padding: 6px 18px;
    /* margin-left: auto; */

}



.sidebar{
    grid-column: 1 / 2;
    grid-row: 1/4;
    /* background-color:deepskyblue; */
    background-color: #1992D4;
    
}

.main{
    margin: 1rem;
    grid-column: 2/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: stretch;
    gap: 20px;
    background-color: #EEEEEE;
    padding:10px;
    border-radius:5px;
}

.main p{
    margin-top: 0;
}

.content{
    display:grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.projects-grid{
    /* margin top aligns with the right sidebar */
    margin-top: 20px;
    /* grid-column: 2 / 3;
    grid-row: 3 /5; */
    gap:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto-fit; */
    align-items:stretch;
    
    
}

.project{
    border:1px solid black;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
}

.right-sidebar{

    display: grid;
    /* grid-column: 3 / 4;
    grid-row: 3 / 5; */
    /* grid-row: auto-fit; */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 20px;
    
    /* margin: 1rem 0; */

}

.content p:first-child, .right-sidebar p:first-child{
    margin-top: 0px;
    margin-bottom: 20px;
}

.announcements, .trending{
    border:1px solid black;
    width:80%;
    background-color: white;
    padding:10px;
    border-radius: 5%;
}

.announcements{
    text-align: start;
    
}


.user{
    display:flex;
    justify-content: flex-start;
    gap:10px;
}

