body{
    margin:0;
    border:0;
}

.search-btn, .notification-btn, .profile-btn{
    background: none;
    border:none;
}

.search-icon, .bell-icon, .profile-icon{
    width: 25px;
    height: 25px;
}


.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 1fr 1fr 3fr 3fr;
}

.p-inline, .h1-inline{
    display:inline;
}

.h1-inline{
    font-size: 24px;
    color: white;
    
} 


.header{
 grid-column: 2 / 4;
}

.navbar{
    grid-column: 2/4 ;
    grid-row:2/3;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1/5;
    /* background-color:deepskyblue; */
    background-color: #1992d4;
}

.main{
    margin: 1rem;
    /* grid-column: 2/4; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: stretch;
    gap: 25px;
    
}

.main p{
    margin-top: 0;
}

.projects-grid{
    /* grid-column: 2 / 3;
    grid-row: 3 /5; */
    gap:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto-fit; */
    align-items:stretch;
    
}

.project{
    border:1px solid black;
}

.right-sidebar{

    display: grid;
    /* grid-column: 3 / 4;
    grid-row: 3 / 5; */
    /* grid-row: auto-fit; */
    grid-template-columns: 1fr  ;
    grid-template-rows: auto-auto;
    row-gap: 75px;
    margin: 1rem;
    gap:0px;
}

.announcements, .trending{
    border:1px solid black;
    width:75%;
}

.announcements{
    text-align: start;
    
}

.trending{
    
}